<div class="top-video">
	<span class="video-text">
		招き猫へようこそ！<br>
		当サイトへ初めてお越しになられた方は<br>
		<%= link_to "「初めての方はこちら」", "/homes/about" %>をご覧ください
	</span>
	<video id="video-main" src="<%= asset_path 'Hina.mp4' %>" autoplay loop muted>
	</video>
</div>

<hr>

<div class="columns">
	<!-- 新着募集一覧 -->
	<div class="column">
		<h3 class="subtitle is-2"><%= link_to "新着募集情報", invites_path %></h3>
		<%= render 'invites/index', invites: @invites %>
	</div>
</div>
